html,body{
  height: 100%;
}

.main_image  {
background-position: 0 150px;
background-image: url("../../images/friends1.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
height: 700px;
        }

.container {

  height: 100%;
  padding-bottom: 60px;
  box-sizing: border-box;
}


.footer {
  margin-top: -20px;
  height: 120px;
  background: silver;

  color: grey;

}

.x1 {
  background: white;
  margin-top: -40px;
  height: 100px;
}

.btn {
    width: 400px;
    padding: 10px 16px;
    border: 1px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.btn-search {

 width: 100%;
  padding: 10px 16px;
}
.btn-large {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
